<select>
  <option selected>-----</option>
  <option value="2">09.03.02 Информационные системы и технологии</option>
  <option value="3">09.03.03 Прикладная информатика</option>
  <option value="5">09.03.04 Программная инженерия</option></select
>;
